/* Slider Style */
.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}

.rslides img {
    margin-top: 25px;
    border: 0;
    height: 300px;
    width: 200px
}

.rslides h3
{
    text-align: center;
    margin-top: 25px;
    margin-left: 25px;
}

.rslides p
{
    text-align: center;
    margin-top: 15px;
    margin-left: 25px;
}

#slider{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-height: 400px;
    height: 400px;
    overflow: hidden;
}
/* END OF SLIDER STYLE */