body
{
    margin: 0;
}

/*Start of the Products CSS*/
.secondDiv
{
    position: absolute;
    z-index: 2;
    background: rgba(255, 255, 255, 1);
}
.information
{
    border: solid black;
    z-index: 3;
    background: rgba(0, 0, 0, 0.65);
    position: relative;
}
/*End of the Products CSS*/